<%= form_with(model: kidsquiz105, local: true) do |form| %>
  <% if kidsquiz105.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kidsquiz105.errors.count, "error") %> prohibited this kidsquiz105 from being saved:</h2>

      <ul>
      <% kidsquiz105.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
